.reg-link {
    color: #72b0eb;
    font-weight: bold;
    padding: 0.2rem 0.75rem;
    border: 4px #1a1a1a solid;
    background-color: #3f3f3f;
    border-radius: 50px;
    transition: box-shadow 0.3s ease-out, color 0.3s ease, box-shadow 0.3s ease-out, background-color 0.3s ease-out;
    box-shadow: 0 0 0 transparent;
}

.reg-link:hover {
    color: white;
    background-color: #4097eb;
    transition: box-shadow 0.3s ease-in, color 0.3s ease-in, box-shadow 0.3s ease-in, background-color 0.3s ease-in;
    box-shadow: 0 0 2px 2px #3f3f3f;
}


.main-team {
    color: white;
    font-weight: bold;
    padding: 0.2rem 0.75rem;
    border: 4px #1a1a1a solid;
    font-size: 23px;
    display: flex;
    background-color: #592328;
    justify-content: center;
    border-radius: 50px;
    transition: box-shadow 0.25s ease-out, color 0.25s ease-out, box-shadow 0.25s ease-out, background-color 0.25s ease-out;
}

.main-team:hover {
    color: white;
    background-color: #440b0e;
    transition: background-color 0.25s ease-in, color 0.25s ease-in, box-shadow 0.25s ease-in, background-color 0.25s ease-in;
}

.jump-to-rank {
    border:4px solid #3f3f3f;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    padding: 0.5rem;
}
.security-background {
    border: 4px solid #3f3f3f;
    border-radius: 20px;
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    padding: 1.5rem;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}
.operator-background {
    border: 4px solid #3f3f3f;
    border-radius: 20px;
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    padding: 1.5rem;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}