.update-card {
    background-color: #1d1d1d;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 12px;
    color: #e6e6e6;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.update-card h2 {
    color: #80c7ff;
    border-bottom: 2px solid #80c7ff;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.update-card h2.update-hotfix {
    color: #e26737;
    border-bottom: 2px solid #80c7ff;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.update-card h3 {
    color: #ffffff;
    margin-top: 1.5rem;
}

.update-card ul {
    padding-left: 1.5rem;
    list-style-type: square;
}

.jump-to-update {
    border:4px solid #3f3f3f;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    padding: 0.5rem;
}
.reg-link {
    color: #72b0eb;
    font-weight: bold;
    padding: 0.2rem 0.75rem;
    border: 4px #1a1a1a solid;
    background-color: #3f3f3f;
    border-radius: 50px;
    transition: box-shadow 0.3s ease-out, color 0.3s ease, box-shadow 0.3s ease-out, background-color 0.3s ease-out;
    box-shadow: 0 0 0 transparent;
}

.reg-link:hover {
    color: white;
    background-color: #4097eb;
    transition: box-shadow 0.3s ease-in, color 0.3s ease-in, box-shadow 0.3s ease-in, background-color 0.3s ease-in;
    box-shadow: 0 0 2px 2px #3f3f3f;
}

.major-update {
    color: white;
    font-weight: bold;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    border: 4px #1a1a1a solid;
    font-size: 23px;
    display: flex;
    background-color: #592328;
    justify-content: center;
    border-radius: 50px;
    transition: box-shadow 0.25s ease-out, color 0.25s ease-out, box-shadow 0.25s ease-out, background-color 0.25s ease-out;
}

.major-update:hover {
    color: white;
    background-color: #440b0e;
    transition: background-color 0.25s ease-in, color 0.25s ease-in, box-shadow 0.25s ease-in, background-color 0.25s ease-in;
}