{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 90,
	"singleQuote": false,
	"semi": false,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"svelteSortOrder": "scripts-markup-styles-options",
				"svelteAllowShorthand": true
			}
		}
	]
}
