.section-title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.info-list {
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

.calculator {
    background: #1e1e1e;
    border: 1px solid #444;
    border-radius: 12px;
    padding: 1rem;
    max-width: 1500px;
    margin: auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    text-align: center;
}

#demandValue {
    position: relative;
}

#demandSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 85%;
    height: 10px;
    background: #888;
    margin-left: 4.4rem;
}

.calculator input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffef11;

    transition: transform 0.3s ease
}

.calculator input[type="range"]::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    transform: scale(1.15);
    border-radius: 50%;
    background-color: #ffef11;
}

.calculator label {
    display: block;
    font-weight: 500;
}

.calculator input[type="number"] {
    width: 100%;
    padding: 0.4rem;
    margin-top: 0.4rem;
    border-radius: 6px;
    border: 1px solid #555;
    background: #2a2a2a;
    color: #fff;
}

.radio-group {
    margin-top: 1rem;
    text-align: center;
}

.radio-group label {
    margin: 0 0.5rem;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    background: #3a7bd5;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background: #2f6db4;
}

.calculator h3 {
    margin-top: 1rem;
}

/* LaTeX CSS */

.math-display {
    font-size: 1.5em;
    text-align: center;
    margin: 1em 0;
}

mjx-mi {
    font-family: 'Times New Roman', serif !important;
    font-style: italic;
}