@import "tailwindcss";
@plugin "daisyui" {}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(21% 0.006 285.885);
  --color-base-200: oklch(27% 0.006 286.033);
  --color-base-300: oklch(37% 0.013 285.805);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: oklch(70% 0.213 47.604);
  --color-primary-content: oklch(98% 0.022 95.277);
  --color-secondary: oklch(68% 0.169 237.323);
  --color-secondary-content: oklch(98% 0.016 73.684);
  --color-accent: oklch(70% 0.213 47.604);
  --color-accent-content: oklch(98% 0.016 73.684);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(65% 0.241 354.308);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
