@import "tailwindcss";
@plugin "daisyui" {}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(70% 0.213 47.604);
  --color-primary-content: oklch(26% 0.079 36.259);
  --color-secondary: oklch(54% 0.245 262.881);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(76% 0.188 70.08);
  --color-accent-content: oklch(27% 0.077 45.635);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(58% 0.233 277.117);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(98% 0.002 247.839);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(48% 0.243 264.376);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(62% 0.214 259.815);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(82% 0.111 230.318);
  --color-accent-content: oklch(28% 0.091 267.935);
  --color-neutral: oklch(98% 0.003 247.858);
  --color-neutral-content: oklch(12% 0.042 264.695);
  --color-info: oklch(74% 0.238 322.16);
  --color-info-content: oklch(29% 0.136 325.661);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(98% 0.002 247.839);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(48% 0.243 264.376);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(62% 0.214 259.815);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(82% 0.111 230.318);
  --color-accent-content: oklch(28% 0.091 267.935);
  --color-neutral: oklch(98% 0.003 247.858);
  --color-neutral-content: oklch(12% 0.042 264.695);
  --color-info: oklch(74% 0.238 322.16);
  --color-info-content: oklch(29% 0.136 325.661);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}