name: Generate and Deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
      - uses: actions/checkout@v4
        with:
            fetch-depth: 0 # required for sitemap gen
      
      - name: Setup Node.js
        uses: actions/setup-node@v4

      # ---- Generate banners.json ----
      - name: Generate banners.json
        run: node .github/scripts/make-banner-manifest.js

      # ---- Optimize images (WebP + compress originals) ----
      - name: Optimize images
        uses: calibreapp/image-actions@v1
        with:
          compressOnly: false  # converts to WebP if it isnt :)
          ignoreJpg: false
          ignorePng: false
      - name: Minify GitHub Pages
        uses: Massi-X/minify-gh-pages-action@v2
        with:
          # Directory where the source files reside. This should be the dir where jekyll outputs to.
          source: ./
          # Which files to compress. Choose between js, css and html or a combination of them, comma separated.
          compress: js,css,html
          # JS compressor options. See https://github.com/mishoo/UglifyJS for the full list.
          js_options: '{"mangle": false}' # makes var names look bad
          # HTML compressor options. See https://github.com/kangax/html-minifier for the full list.
          html_options: '{"caseSensitive": true}'
      - name: Spellcheck HTML Files
        uses: gevhaz/Word-Warden@v1.0.0
        with:
          # Files to spellcheck, (glob expressions accepted).
          files: /*.html
          # Path to your personal dictionary in aspell format.
          dictionary: /docs/terminoligy_aspell.txt
    

      - name: Generate the sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: https://wiki.koyot.digital
          exclude-paths: /NavGrid.html
      # ---- Commit any changes ----
      - name: Commit and push changes
        run: |
          git config user.name "Autotron"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -A
          git diff --cached --quiet || git commit -m "Auto optimize assets"
          git push

      # ---- GitHub Pages upload ----
      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
